.App
{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #c4c4c4;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  box-sizing: border-box;
  gap: 20px;
}
h1{
  font-size: 2rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.currency-container
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 22px;
  line-height: 1.5;
  margin: 0;
  padding: 10px;
  border: 2px solid #020202;
  border-radius: 4px;
  box-sizing: border-box;
}
.currency-select 
{  
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  box-sizing: border-box;
}

.currency-input input{
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}
.currency-icon{
  font-size: 2rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}
.currency-output input{
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .currency-container {
    flex-direction: column;
  }

  .currency-input,
  .currency-select,
  .currency-output {
    width: 100%;
  }
  
}